.titulo{
    text-align: center;
}

.imagen{
    width: 360px;
    max-width: 100%;
    opacity: 1;
    border-style: solid;
    border-color: #FFF;
    padding-bottom: 30px;
    padding:80px;
}
.texto{
    font-size: 20px;
    text-align: center;
}
body{
    background-color: cornflowerblue;
}
